$color-one : #1E2634;
$color-two: #293140;
$color-three: #7C87D7;
$color-four: white;

body {
  background-color: $color-one;
  color: $color-four;
  font-family: 'KarmaRegular', serif;
  font-weight: bold;
  max-width: 100%;
  overflow-x: hidden;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
