$color-one : #1F2633;
$color-two: #2A313F;
$color-three: #7C87D7;
$color-four: white;

// 7B86D6
// E77E71
// DCA874

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  background-color: $color-one;
  color: $color-four;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
